version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      # Specify a name for the group, which will be used in pull request titles
      # and branch names
      dev-dependencies:
      dependencies:
        update-types:
          - "minor"
          - "patch"
